.search-box {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: #dde7ef;

  &:focus {
    border-color: #2ecc71;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
    background-color: #f0f3f1;
  }

  &::placeholder {
    color: #404444;
  }
}
