.input-component {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus {
    border-color: #2ecc71;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
  }

  &[type="date"] {
    max-width: 200px;
  }
}
